<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-store" />

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>
    
      Discrete Optimization
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/syntax.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700%7CSource+Sans+Pro:400,400i,700,700i&subset=greek,greek-ext,latin-ext" rel="stylesheet">

  <!-- Icons -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
</head>


  <body>

    <div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>Discrete Optimization</h1>
      <!-- <p class="tagline"># Team R</p> -->
    </div>

    <input type="checkbox" id="menu-icon">
    <label class="menu-label" for="menu-icon"></label>
    <div class="trigger">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
          <a href="#">Home</a>
          </li>
      
      
          <li class="sidebar-nav-item">
            <a href="{{ url_for('local') }}">Local Search notes</a>
          </li>
      
          <li class="sidebar-nav-item">
            <a href="{{ url_for('lp') }}">Linear Programming notes</a>
          </li>
      
          <li class="sidebar-nav-item">
            <a href="{{ url_for('cp') }}">Constraint Programming notes</a>
          </li>
          <li class="sidebar-nav-item">
            <a href="{{ url_for('branch') }}">Branch and Bound notes</a>
          </li>
          <li class="sidebar-nav-item">
            <a href="{{ url_for('tsp_note') }}">TSP notes</a>
            </li>
            <li class="sidebar-nav-item">
              <a href="{{ url_for('gavel') }}">Gavel notes</a>
              </li>
          <li class="sidebar-nav-item">
            <a href="{{ url_for('tsp') }}">TSP Visualizer</a>
          </li>
      
          <li class="sidebar-nav-item">
            <a href="{{ url_for('sack') }}">Knapsack Solver</a>
          </li>
      
          <li class="sidebar-nav-item">
            <a href="{{ url_for('graph') }}">Gavel Graph Creator</a>
          </li>

        

      </ul>
    </div>

    <p class="copyright">&copy; 2020. All rights reserved.</p>
  </div>
</div>


    <div class="content container">
      <div class="post">
  <h1 class="post-title">Discrete Optimizations</h1>
  









<!-- <span class="post-info">
  
    
      
        
        
        <a href="#">Github</a>,
      
        
        
        <a href="#">Facebook</a> and 
      
        
        
        <a href="#">Twitter</a>
      
    
  
</span> -->

  <p>This Site contains the various works, including a Guide and Some Simulations, that We Team R took part in during the course of the AAD CS1.301 Project.
    
    
  </p>
  
  <p>The guides are mainly Divided into the chapters Local Search, Linear Programming and Constraint Programming.

  </p>
  <p>
  There are also 3 Simulators which are a Travelling Salesman Problem(TSP) visualizer, a problem on Knapsack, and A Weighted Directed graph creator for the Gavel Problem. </p>


<div id="x-continue-reading"></div>

<h1 id="why-latex">What is Discrete Optimization</h1>

<p>Discrete Optimization deals with Optimization in applied mathematics and computer science,
  and deals with problems in which some or all variables are restricted to be Discrete variables
  , i.e., to assume only a discrete set of values, such as the integers.
</p>



    </div>
    <h1 id="why-latex">Constraint Programming Notes</h1>
    <embed width="100%" height="850px" src="https://megha-bose.github.io/Constraint_Programming.pdf" type="application/pdf" />
    <h1 id="why-latex">Linear Programming Notes</h1>
    <embed width="100%" height="850px" src="/static/Linear_Programming.pdf" />

    <!-- MathJax -->
<script>
window.MathJax = {
  messageStyle: "none",
}
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


  </body>

</html>
