<!DOCTYPE html>
<html>
<head>

    <title>Knapsack</title>
    
    <link rel="stylesheet" type="text/css" href="/static/styles/viz2.css" media="screen" />
    <!-- <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/syntax.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700%7CSource+Sans+Pro:400,400i,700,700i&subset=greek,greek-ext,latin-ext" rel="stylesheet">

    <script type="text/javascript" src="https://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="/static/js/constants.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
	<script type="text/javascript" src="/static/js/sack.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>
    
    <center>
	<div id="controls">
		<div id="benchmark_zone" class="drop_zone" style="width:100%">Step 1 - Drop Input file here</div>
		<div style="clear:both;"><p id="feedback"></p></div>
	</div>
	
    <div id="data">
        <table id="problemTable" class="metadataTable">
            <tbody>
            </tbody>
        </table>	
        <table id="solutionTable" class="metadataTable">
            <tbody>
            </tbody>
        </table>
    </div>
	
    <div id="viz"></div>
    <pre id="debug"></pre>

    <script type="text/javascript" src="/static/js/viz.js"></script>
    </center>
</body>
</html>
